[flake8]
max-line-length = 88
extend-ignore = E203, W503, D100, D101, D102, D103
exclude =
    .git,
    __pycache__,
    env/,
    backend/.venv/,
    migrations/*,
    backend/usrs/migrations/*,
    backend/apuntes/migrations/,
    backend/titulaciones/migrations/,
    static/,
    media/

# Plugins
# Usa flake8-django para reglas específicas de Django
enable-extensions = G

# Nombres de tus apps para que flake8-django los reconozca (ajusta si es necesario)
application-import-names = backend

# Si usas flake8-docstrings, puedes activar reglas de estilo de docstrings
docstring-convention = google
