
{% include "menu/superior.html" %}

    <section class="hero">
        <h2>Comparte tus apuntes. Gana premios. Colabora con la comunidad.</h2>
        <p>Alumnos y profesores juntos construyendo el conocimiento.</p>
    </section>
    <section class="section" id="apuntes">
        <h2>¿Qué puedes hacer en comparti<span style="color:#007BFF">DA</span>?</h2>
        <div class="cards">
            <div class="card">
                <h3>Subida de apuntes</h3>
                <p>Comparte tus propios apuntes y ayuda a tus compañeros a preparar sus asignaturas.</p>
            </div>
            <div class="card">
                <h3>Recomendaciones de profesores</h3>
                <p>Apuntes marcados como recomendados por el profesorado de la ETSISI.</p>
            </div>
            <div class="card">
                <h3>Concursos y premios</h3>
                <p>Participa en concursos mensuales y gana premios por tus aportaciones.</p>
            </div>
        </div>
    </section>
    <section class="ranking-section">
        <h2 class="ranking-title">🏆 Rankings comparti<span class="azul">DA</span></h2>
        <div class="ranking-container">
            <div class="ranking-box">
                <h3>📚 Top apuntes</h3>
                <ol>
                    {% for apunte in apuntes %}
                      <li>{{apunte.titulo}} - {{apunte.visualizaciones}}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="ranking-box">
                <h3>📥 Top usuarios visualizaciones</h3>
                <ol>
                    {% for users in top_descargas %}
                      <li>{{users.given_name}} - {{users.recuento_visualizaciones}}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="ranking-box">
                <h3>📤 Top Usuarios subidas</h3>
                <ol>
                    {% for users in top_subidas %}
                      <li>{{users.given_name}} - {{users.recuento_subidas}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>

    {% include "menu/inferior.html" %}
