{% include "menu/superior.html" %}

<section class="hero">
    <h2>Crea una nueva titulación</h2>
    <a href="/staff/titulacion/lista/" class="enlace-blanco">Lista de titulaciones</a>
</section>

<div class="upload-form-container">
    <h2 class="titulo-seccion">Crear nueva asignatura</h2>
    <form method="post" class="formulario-apunte">
        {% csrf_token %}

        <div class="form-grupo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="form-grupo">
            <label for="creditos">créditos</label>
            <input type="number" id="creditos" name="creditos" required>
        </div>

        <div>
            <h1></h1>
        </div>

        <button type="submit" class="boton-principal">Guardar</button>
    </form>
</div>

{% include "menu/inferior.html" %}
