{% include "menu/superior.html" %}

<div class="upload-form-container">
    <h2 class="titulo-seccion">Crear nueva asignatura</h2>
    <form method="post" class="formulario-apunte">
        {% csrf_token %}

        <div class="form-grupo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="form-grupo">
            <label for="creditos">créditos</label>
            <input type="number" id="creditos" name="creditos" required>
        </div>

        <div>
            <label for="semestre">Número de semestre</label>
            <input type="number" id="semestre" name="semestre" requireds>
        </div>

        <div>
            <h1></h1>
        </div>

        <button type="submit" class="boton-principal">Guardar</button>
    </form>
</div>

{% include "menu/inferior.html" %}
