{% include "menu/superior.html" %}

<section class="hero">
    <h2>Crea una nueva asignatura</h2>
    <a href="/staff/asignaturas/crear/" class="enlace-blanco">Añadir nueva asignatura |</a>
    <a href="/staff/asignaturas/lista/" class="enlace-blanco">Lista asignaturas |</a>
    <a href="/staff/temas/crear" class="enlace-blanco">Añadir tema |</a>
    <a href="/staff/temas/lista" class="enlace-blanco">Lista tema</a>
</section>

<div class="upload-form-container">
    <h2 class="titulo-seccion">Crear nueva asignatura</h2>
    <form method="post" class="formulario-apunte">
        {% csrf_token %}

        <div class="form-grupo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="{{asignatura.nombre}}">
        </div>

        <div class="form-grupo">
            <label for="creditos">créditos</label>
            <input type="number" id="creditos" name="creditos" value="{{asignatura.creditos}}">
        </div>

        <div>
            <label for="semestre">Número de semestre</label>
            <input type="number" id="semestre" name="semestre" value="{{asignatura.semestre}}">
        </div>

        <div>
            <h1></h1>
        </div>

        <button type="submit" class="boton-principal">Guardar</button>
    </form>
</div>

{% include "menu/inferior.html" %}
