{% include "menu/superior.html" %}

  <section class="hero">
    <h2>Lista de asignaturas creadas por el staff y para el estaff</h2>
    <p></p>
  </section>

  <section class="section">
    <h2>Asignaturas:</h2>
    <div class="cards">
      {% for asignatura in asignaturas %}
        <div class="card">
          <!-- Contenido de la tarjeta sin votones -->
          <div class="card-content" style="display: flex; align-items: center; justify-content: space-between;">
            <div>
            <h3>
              <a href="/staff/asignaturas/edit/{{asignatura.id}}/">
                {{ asignatura.nombre }}
              </a>
            </h3>
            </div>
            <div class="actions">
              <form action="/staff/asignaturas/delete/{{asignatura.id}}/" method="post">
                  {% csrf_token %}
                <button type="submit" id="delete-{{ asignatura.id }}" class="boton-principal accion-btn">Borrar</button>
              </form>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No hay asignaturas disponibles.</p>
      {% endfor %}
    </div>
  </section>


{% include "menu/inferior.html" %}