{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compartiDA - DA-ETSISI</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <h1>Comparti<span class="highlight">DA</span></h1>
        <p>La plataforma colaborativa de apuntes de la Delegación de Alumnos de la ETSISI</p>
    </header>
    <nav>
        <a href="/" class="enlace-blanco">Inicio</a>
        <a href="/apuntes" class="enlace-blanco">Apuntes</a>
        {% if user_data.is_staff %}
        <a href="/staff/asignaturas/lista" class="enlace-blanco">Asignaturas</a>
        <a href="/staff/titulacion/lista/" class="enlace-blanco">Titulaciones</a>
        {% endif %}
        {% if user %}
        <a href="/" class="enlace-blanco">{{user_data.preferred_username}}</a>
        <form action="/usr/logout/" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="enlace-blanco boton-como-enlace">Cerrar sesión</button>
        </form>
        
        {% else %}
        <a href="usr/login" class="enlace-blanco">Login</a>
        {% endif %}
        
    </nav>